<div class="row">
  <div class="col-xs-12">
    <img [src]="selectedItem.imagepath" alt="selectedItem.name" class="img-responsive" style="max-height: 500px">
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <h1 *ngIf="selectedItem">{{selectedItem.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" appDropdownOpener>
            Manage Recipe <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" >To Shopping list</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
          </ul>
        </div>
      </div>   
</div>
<div class="row">
    <div class="col-xs-12">
      <b><i>Ingredients :</i></b> Onion, Chicken, Sausage, Laura, Lasoon
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <b><i>Description :</i></b>
      {{selectedItem.description}}
    </div>
</div>
